header, .fondo__header{
    background-color: rgb(219, 111, 23);
    color: aliceblue;
}
section .slider{
    background-color: black;
}
section{
    position: relative;
}
.btn_slider{
    position: absolute;
    bottom: 0;
}
